/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 40px 8%;
    transition: all .50s ease;
    background-color: #fff;
}

header .nav-link {
    font-weight: 530;
    font-size: 18px;
}

#btn-entrar button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF0000;
    border-radius: 5px;
    border: 0;
    transition: .2s;
    color: #fff;
    cursor: pointer;
}

#btn-entrar a{
    text-decoration: none;
}

#btn-entrar button i{
    font-size: 1.3rem;
}

#btn-conta i{
    color: #FF0000;
    font-size: 40px;
}

@media screen and (max-width: 1080px) {

    /* HEADER */
    header {
        padding: 40px 0%;
    }

}