/* GERAL */
.flex{
    display: flex;
}

#titulo{
    font-size: clamp(2rem, 10vw, 3.5rem);
    text-align: center;
    font-weight: 550;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 40px 8%;
    transition: all .50s ease;
    background-color: #fff;
}

header .nav-link{
    font-weight: 530;
    font-size: 18px;
}

/* MAIN */
main{
    color: #000;
    font-family: "Poppins", sans-serif;
}

/* TOPO do SITE */
section.topo-do-site{
    min-height: 100vh;
    padding: 180px 8%;
}

.img-topo-site img{
    width: 480px;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.topo-do-site h1{
    font-size: 38px;
    line-height: 50px;
    font-weight: 650;
}

.topo-do-site .txt-topo-site p{
    margin: 20px 0;
}

/* SERVIÇOS */
section.servicos{
    min-height: 100vh;
    padding: 180px 8%;
}

.servicos .container-grid-cards-servicos{
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    justify-content: center;
    padding: 2rem 4%;
    gap: 40px;
}

/* SERVICOS - Cards */
.servicos .container-grid-cards-servicos .card{
    padding: 1rem;
    border-radius: 5px;
    background-color: #F3F3F3;
    border: 0;
}

.servicos .container-grid-cards-servicos .card h2{
    font-weight: 550;
    color: #000;
}
.servicos .container-grid-cards-servicos .card .bg{
    background-color: #fff;
    padding: 1rem;
}

.servicos .container-grid-cards-servicos .card .circles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.servicos .container-grid-cards-servicos .card .circle{
    background: #8CB0FF;
    padding: 0.5rem;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
}

/* FOOTER */
footer{
    padding: 40px 8%;
    background-color: #FF0000;
}

footer .flex{
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1080px) {
    .flex{
        flex-direction: column;
    }
}