/* GERAL */
.flex {
    display: flex;
}

#titulo {
    font-size: clamp(2rem, 10vw, 3.5rem);
    text-align: center;
    font-weight: 600;
}

/* MAIN */
main {
    color: #000;
    font-family: "Poppins", sans-serif;
}

/* TOPO do SITE */
section.topo-do-site {
    min-height: 100vh;
    padding: 180px 8%;
}

.img-topo-site img {
    width: 480px;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.topo-do-site h1 {
    font-size: 38px;
    line-height: 50px;
    font-weight: 650;
}

.topo-do-site .txt-topo-site p {
    margin: 20px 0;
}

/* SERVIÇOS */
section.servicos {
    min-height: 100vh;
    padding: 180px 8%;
}

.servicos .container-grid-cards-servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    gap: 40px;
}

/* SERVICOS - Cards */
.servicos .container-grid-cards-servicos .card {
    padding: 1rem;
    border-radius: 5px;
    background-color: #F3F3F3;
    border: 0;
}

.servicos .container-grid-cards-servicos .card h2 {
    font-weight: 550;
    color: #000;
}

.servicos .container-grid-cards-servicos .card .bg {
    background-color: #fff;
    padding: 1rem;
}

.servicos .container-grid-cards-servicos .card .circles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.servicos .container-grid-cards-servicos .card .circle {
    background: #8CB0FF;
    padding: 0.5rem;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
}

/* QUEM SOMOS */
section.quem-somos {
    min-height: 100vh;
    padding: 180px 8%;
}

.container-team {
    width: 100%;
    padding: 40px 4%;
}

.quem-somos .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.container-team .membro {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.3s, background 0.3s;
}

.container-team .membro #imgEsquerda {
    margin-bottom: 10px;
    margin-right: 50px;
    width: 300px;
}

.container-team .membro #imgDireita {
    margin-bottom: 10px;
    width: 300px;
}

.container-team .membro h2 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 550;
}

/* CARDS-ESCOLHA-LOGIN */
section.cards-escolha{
    padding: 180px 8%;
    min-height: 100vh;
}

section.cards-escolha .card{
    text-align: center;
}

section.cards-escolha .card i{
    font-size: 50px;
    color: #FF0000;
    text-align: center;
}

/* FOOTER */
footer {
    padding: 40px 8%;
    background-color: #FF0000;
}

footer .flex {
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1080px) {
    .flex {
        flex-direction: column;
    }

    /* MAIN */

    /* TOPO */
    .img-topo-site img {
        display: none;
    }

    /* QUEM SOMOS */
    .container-team .membro img {
        margin-bottom: 10px;
        margin-right: 50px;
        width: 250px;
    }
}